(anatou-dedyn-log) {
	log anatou-dedyn-log {
		output file /var/log/caddy.log {
			roll_local_time
		}
	}
}

(local-log) {
	log local-log {
		output stdout
	}
}

localhost:2020 {
	tls internal
	respond "It works !\n" 200 { 
		close 
	}
	import local-log
}

*.{$DOMAIN}:{$FIREWALL_VPN_INPUT_PORTS} {
	tls {
		dns desec {
			token "{$DESEC_TOKEN}"
		}
	}

	@foo host foo.{$DOMAIN}
	handle @foo {
		respond "Bar\n" 200 {
			close
		}
		#import anatou-dedyn-log
	}

	@homepage host homepage.{$DOMAIN}
	handle @homepage {
		reverse_proxy {$HOMEPAGE_IP}:{$HOMEPAGE_PORT}
		#import anatou-dedyn-log
	}

	@foundry host foundry.{$DOMAIN}
	handle @foundry {
		reverse_proxy {$FOUNDRY_IP}:{$FOUNDRY_PORT}
		#import anatou-dedyn-log
	}

	@jellyfin host jellyfin.{$DOMAIN}
	handle @jellyfin {
		reverse_proxy {$JELLYFIN_IP}:{$JELLYFIN_PORT}
		#import anatou-dedyn-log
	}

	handle {
		abort
	}
}